.container {
    background-color: var(--dark-gray);
    color: var(--white);
    padding: 2rem 8rem 2rem 8rem;
    margin: 4rem 16rem 4rem 16rem;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.title {
    color: transparent;
    background-color: var(--light-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.categoryContainer {
    color: var(--light-gray);
    transition: 250ms;
}

.categoryContainer:hover {
    color: var(--white);
    transform: scale(1.05);
}

.categoryContainer:active {
    color: var(--black);
    transform: scale(0.95);
}

.category {
    text-decoration: none;
    color: inherit;
}