.container {
    color: var(--white);
    width: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: var(--dark-gray);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    margin-bottom: 2.5rem;
}

.details {
    color: var(--light-gray);
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.details>* {
    background-color: var(--black);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
    padding: 0rem 1rem;
    transition: 250ms;
}

.details>*:hover {
    transform: scale(1.05);
}

.details>*:active {
    transform: scale(0.95);
}

.details>p>*:hover {
    color: var(--white);
}

.details>p>*:active {
    color: var(--dark-gray);
    transform: scale(0.95);
}

.category {
    color: inherit;
    text-decoration: none;
}

.title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--orange);
    color: transparent;
    height: 3rem;
    border-radius: 0;
    padding: 0;
    transition: 250ms;
}

.title:hover {
    background-color: var(--light-orange);
    transform: scale(1.05);
}

.title:active {
    background-color: var(--dark-orange);
    transform: scale(0.9875);
}

.body {
    background-color: var(--dark-gray);
    width: 100%;
    border-radius: 0.25rem;
}

.body>p {
    padding: 0 1.5rem 0 1.5rem;
}

.footer {
    background-image: linear-gradient(to top, var(--light-orange), var(--dark-orange));
    width: 20%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    margin-top: 2rem;
    transition: 250ms;
    cursor: pointer;
}

.footer:hover {
    transform: scale(1.05);
}

.footer:active {
    transform: scale(0.95);
}

.footer>div {
    color: var(--dark-gray);
}