.card {
    background-color: var(--dark-gray);
    color: var(--white);
    width: 15rem;
    height: 16rem;
    padding: 1rem;
    border-radius: 0.25rem;
}

.categoryContainer {
    padding-left: 1rem;
    width: fit-content;
    display: flex;
    transition: 250ms;
}

.category {
    color: white;
    text-decoration: none;
}

.categoryContainer:hover {
    transform: scale(1.125);
}

.categoryContainer:active {
    transform: scale(0.875);
}

.titleContainer {
    height: 9em;
    overflow: hidden;
    padding: 0rem 0.5rem 0 1rem;
}

.title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--orange);
    transition: 250ms;
}

.title:hover {
    background-color: var(--light-orange);
    transform: scale(1.0125);
}

.title:active {
    background-color: var(--dark-orange);
    transform: scale(0.9875);
}

.description {
    height: 2.5em;
    overflow: hidden;
    color: var(--light-gray);
    padding-left: 1rem;
    padding-right: 0.5rem;
}