.body {
    width: 100%;
    border-radius: 0.25rem;
}

.body>p {
    padding: 0 1.5rem 0 1.5rem;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0 1rem 0;
}

.usernameContainer,
.categoryContainer {
    transition: 250ms;
}

.usernameContainer:hover,
.categoryContainer:hover {
    transform: scale(1.05);
}

.usernameContainer:active,
.categoryContainer:active {
    transform: scale(0.95);
}

.username,
.category {
    background: -webkit-linear-gradient(var(--light-orange), var(--dark-orange));
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
}

.description {
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

.footer {
    background-image: linear-gradient(to top, var(--light-orange), var(--dark-orange));
    width: 20%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
    margin-top: 2rem;
    transition: 250ms;
    text-decoration: none;
    cursor: pointer;
}

.footer:hover {
    box-shadow: 0 7.5px 12.5px -7.5px var(--dark-orange);
    transform: scale(1.05);
}

.footer:active {
    box-shadow: 0 7.5px 12.5px -7.5px var(--black);
    box-shadow: 0 10px 10px -10px var(--black);
    transform: scale(0.95);
}

.footer>div {
    color: var(--white);
}