.container {
    height: 100vh;
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    font-size: 1.5rem;
    background: -webkit-linear-gradient(var(--light-orange), var(--dark-orange));
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 250ms;
    cursor: pointer;
}

.errorMessage:hover {
    transform: scale(1.05);
}

.errorMessage:active {
    transform: scale(0.95);
}

.stackTrace {
    padding: 1rem 1rem;
    background-color: var(--dark-gray);
    color: var(--light-gray);
}

.logo {
    height: 6rem;
    transition: 250ms;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.05);
}

.logo:active {
    transform: scale(0.95);
}