.navbar {
    display: flex;
    align-items: center;
    position: sticky;
    height: 7.5vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--black);
    color: var(--white);
}

.navbar>* {
    margin-left: 0.5rem;
}

.header {
    color: transparent;
    background: -webkit-linear-gradient(var(--light-orange), var(--dark-orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan {
    font-size: 0.60em;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.formLabel {
    display: none;
}

.select {
    padding-left: 0.5rem;
    font-size: 1.25rem;
    background-color: var(--black);
    color: var(--light-gray);
    border: 1px solid var(--dark-gray);
    border-radius: 0.25rem;
    height: 2.5rem;
    width: 12rem;
}

.outlet {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}