.container {
    color: var(--white);
    height: 92.5vh;
    margin: 0 0.5rem 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background-image: linear-gradient(var(--light-orange), var(--dark-orange));
    color: var(--black);
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 99999px;
    padding: 0.25em 1em 0.25em 1em;
    margin-top: 1rem;
    text-decoration: none;
    transition: 250ms;
}

.button:hover {
    box-shadow: 0 10px 20px -10px var(--dark-orange);
    background: var(--light-orange);
    transform: scale(1.05);
}

.button:active {
    box-shadow: 0 10px 20px -10px var(--black);
    background: var(--dark-orange);
    transform: scale(0.95);
}

.bold {
    background: -webkit-linear-gradient(var(--light-orange), var(--dark-orange));
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}