.container {
    margin: 0 0.5rem 0 0.5rem;
    color: var(--white);
    height: 92.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    margin-top: 1rem;
    padding: 0.25em 1em 0.25em 1em;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    border-radius: 99999px;
    background-image: linear-gradient(var(--light-orange), var(--dark-orange));
    color: var(--black);
}

.bold {
    color: transparent;
    background: -webkit-linear-gradient(var(--light-orange), var(--dark-orange));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
}