.navbar {
    background-color: var(--black);
    color: var(--white);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5vh;
    display: flex;
    align-items: center;
}

.navbar>* {
    margin-left: 0.5rem;
}

.logo {
    height: 2.5rem;
    margin: 0 0.25rem 0 0.5rem;
    transition: 250ms;
}

.logo:hover {
    transform: scale(1.05);
}

.logo:active {
    transform: scale(0.95);
}

.header {
    background: -webkit-linear-gradient(var(--light-orange), var(--dark-orange));
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.slogan {
    font-size: 0.60em;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.formLabel {
    display: none;
}

.select {
    background-color: var(--black);
    color: var(--light-gray);
    width: 12rem;
    height: 2.5rem;
    font-size: 1.25rem;
    border: 1px solid var(--dark-gray);
    border-radius: 0.25rem;
    padding-left: 0.5rem;
}