:root {
    font-family: "Lato";
    --dark-blur: rgba(0, 0, 0, 0.2);
    --black: #111;
    --dark-gray: #333;
    --light-gray: #999;
    --white: white;
    --red: #fb2c36;
    --light-orange: #ffba00;
    --orange: #cb7b00;
    --dark-orange: #973c00;
    --green: #00c951;
}

body {
    background-color: var(--black);
    margin: 0;
    height: 100vh;
}