:root {
    --black: #111;
    --dark-gray: #333;
    --light-gray: #999;
    --white: white;
    --light-orange: #ffba00;
    --orange: #cb7b00;
    --dark-orange: #973c00;
}

body {
    background-color: var(--black);
    margin: 0;
}