.container {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: var(--dark-gray);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    margin-bottom: 2.5rem;
}

.title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: var(--orange);
    color: transparent;
    transition: 250ms;
}

.title:hover {
    background-color: var(--light-orange);
    transform: scale(1.05);
}

.title:active {
    background-color: var(--dark-orange);
    transform: scale(0.9875);
}

.list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 2rem;
    column-gap: 2rem;
}