.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    padding: 2rem 8rem 2rem 8rem;
    margin: 4rem 16rem 4rem 16rem;
}

.header {
    width: 100%;
    background-color: var(--dark-gray);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
}

.title {
    color: transparent;
    background-color: var(--light-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: auto auto auto auto;
}