.container {
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.title {
    cursor: pointer;
    transition: 250ms;
}

.title:hover {
    transform: scale(1.05);
}

.title:active {
    transform: scale(0.9875);
}

.subheader {
    cursor: pointer;
    transition: 250ms;
}

.subheader:hover {
    transform: scale(1.05);
}

.subheader:active {
    transform: scale(0.95);
}

.offers {
    width: 100%;
}

.offers>* {
    margin-bottom: 1rem;
}

.offers>*:last-child {
    margin-bottom: 0;
}