.card {
    background-color: var(--dark-gray);
    color: var(--white);
    width: 15rem;
    height: 16rem;
    padding: 1rem;
    border-radius: 0.25rem;
}

.category {
    padding: 0rem 0 0 1rem;
}

.title {
    height: 2.5em;
    overflow: hidden;
    padding: 3rem 0.5rem 0 1rem;
    background: var(--light-orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.description {
    height: 2.5em;
    overflow: hidden;
    color: var(--light-gray);
    padding-left: 1rem;
    padding-right: 0.5rem;
}